.cam {
  height: 200px;
  left: 0;
  margin: 20px;
  position: absolute;
  bottom: 0;
  width: 200px;
}

.canvas {
  background-color: #fff;
  height: 100vh;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}